/*.sale {*/
/*    position: relative;*/
/*    height: 100vh;*/
/*    margin-left: 100px;*/
/*    margin-right: 100px;*/
/*    !*background: lightgreen;*!*/
/*}*/
/*.sale {*/
/*    position: relative;*/
/*    height: 100vh;*/
/*    margin-left: 100px;*/
/*    margin-right: 100px;*/
/*    !* background: lightgreen; *!*/
/*}*/

/*.sale > section:first-child {*/

/*    height: 90vh;*/
/*    position: absolute;*/
/*    !*background: lightpink;*!*/
/*    width: 42vw;*/
/*    top: 60px;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
/*    background: linear-gradient(to bottom, #00ff9d 0%, #331400 100%);*/

/*}*/


/*.sale > section:nth-child(2) {*/

/*    height: 90vh;*/
/*    position: absolute;*/
/*    !*background: lightpink;*!*/
/*    right: 0;*/
/*    width: 42vw;*/
/*    top: 60px;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(3, 14, 26, 0.35) 0px -2px 6px 0px inset;*/


/*}*/
/*.sale> section:nth-child(2) > div {*/

/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 40px;*/
/*    right: 0;*/
/*    top: 0;*/
/*    background-repeat: no-repeat;*/
/*    opacity: 0.2;*/

/*}*/


/*#sale_form {*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 15px;*/
/*    margin: auto;*/


/*}*/

/*#sale_form > form > div > input {*/
/*    width: 400px;*/

/*}*/
/*#sale_form > form > div>select[id="customer_id"] {*/
/*    width: 110px;*/

/*}*/
/*#order_form > form > div > input[id="customer_name"] {*/
/*    width: 270px;*/
/*    position: relative;*/
/*    top: -68px;*/
/*    left: 130px;*/
/*}*/
/*#order_form > form > div > label[for="customer_name"] {*/
/*    width: 200px;*/
/*    position: relative;*/
/*    top: -66px;*/
/*    left: 130px;*/
/*}*/

/*#order_details > div > input {*/
/*    width: 150px;*/
/*}*/

/*#order_form > form > button {*/
/*    position: relative;*/
/*    bottom: -31px;*/
/*    left: 162px;*/
/*    margin-left: 2px*/
/*}*/

/*.order > section:nth-child(2) > table {*/

/*    position: absolute;*/
/*    width: 500px;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 20px;*/
/*    margin: auto;*/

/*}*/

/*.order > section:nth-child(2) > section {*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/

/*}*/

/*.order > section:nth-child(2) > section > div {*/
/*    position: relative;*/
/*    bottom: 30px;*/
/*    margin: auto;*/

/*}*/

/*.order > section:nth-child(2) > section > button {*/
/*    width: 200px;*/
/*    height: calc(1.5em + 0.75rem + 2px);;*/

/*}*/

/*#order_form>form>div:nth-child(3){*/
/*    position: absolute;*/
/*}#order_form>form>div:nth-child(4){*/
/*    position: relative;*/
/*}*/
#order_form{
    width: 66vh;
    height: auto;
    position: relative;
    left: 40px;
}
.order {
    position: relative;
    left: 293px;
    height: 100vw;
    width: 98.5vw;
    /*margin-left: 43px;*/
    /*margin-right: 100px;*/
    /* background: lightgreen;*/
    background: linear-gradient(to bottom, #7874ea 0%, #dde3f1 100%);
}


.order > section:first-child {
    height: auto;
    position: relative;
    /*display: flex;*/
    /*background: lightpink;*/
    width: 30vw;
    top: 10px;
    bottom: 0;
    /*margin: auto;*/
}


.order > section:first-child > p {
    position: relative;
    left: 441px;
    top: 10px;
    margin: 0;
    font-size: 26px;
    font-family: ARADHANA;

}

#order_details > div > input {
    width: 100px;
}

#order_details {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: -7px;
    right: 0;
    bottom: 0;
    top: -20px;
    margin: auto;

}

#employee_buttons {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 287px;
    right: 0;
    bottom: 0;
    top: 66px;
    margin: auto;

}

.order > section:nth-child(2)  {
    position: absolute;
    width: 500px;
    left: 700px;
    right: 0;
    top: 76px;
    /*margin: auto;*/

}

.order > section:nth-child(2) > div>input{
    position: relative;
    right: 10px;
    color: black;
}
#order_details > section{
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
}

#order_table{
    position: absolute;
    left: 40px;
    top: 1111px;

}
.form-check1{
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}